
# Laravel specific
/vendor
/node_modules
/public/hot
/public/storage
/public/uploads/
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock

# IDE specific
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Temporary files
*.swp
*.swo
*~
