h3.user-greet{
    color: #000;

/* H3 Bold */
font-family: Poppins;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}
h6.instruction{
    color: #000;

/* Title 1 */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

div.profile-pix img.profile-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}

div.profile-pix .welcome-name{
    color: #000;

/* H5 Bold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}


div.profile-pix .welcome-name span{
    color: #000;
display: block;
/* Title 1 */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.host-btn{
    border-radius: 10px;
    background: var(--Button-Color, #55C595);
    color: #FFF;
padding: 6px 12px;
outline: 1px solid #55C595;
border: 1px solid #55C595;

font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}


.customs-card{
    border-radius: 10px;
background: var(--Primary-Color, #215273);
height: 120px;
width: 100%;
}

.customs-card.second{
    background: #55C595;
}

.customs-card.third{
    background: #028374;
}

.customs-card h4.big{
    color: #FFF;

/* H5 Bold */
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 140%;
text-align: center;
}
.customs-card h6{
    color: #FFF;

/* H5 Bold */
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 140%;
text-align: center;

}
.rafle h5.head{
    color: #000;

/* H3 Bold */
font-family: Poppins;
font-size: 33px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

