

.top-bg .top-section {
    width: 50%;
    padding: 12px 40px;
}

.top-section p.smallest-text {
    color: var(--Button-Color, #55C595);
    /* H5 */
    font-family: Poppins;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.top-section h4.big {
    color: var(--Base-Color, #FDFDFD);
    font-family: 'Prompt', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

a.view-btn{
    list-style: none;

    text-decoration: none;
    border-radius: 10px;
background: var(--Button-Color, #55C595);
color: var(--Base-Color, #FDFDFD);
/* Title 3 Bold */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 140%;
padding: 10px 12px;
}

.top-section h4.big span {
    color: #55C595;
}

.top-section p.text {
    color: #FFF;

    /* H5 */
    font-family: Poppins;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.j h3.how {
    color: var(--Heading-Text-color, #161616);
    font-family: 'Prompt', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

.j h3.how span {
    color: #55C595;
}

div.j .row .col-6 .pre-work img {
    width: 70px;
    height: auto;
}

div.j .row .col-6 .pre-work h3.head {
    color: #303030;
    /* H5 Bold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

div.j .row .col-6 .pre-work p.text {
    color: #303030;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.fd {
    padding: 20px;
    padding-top: 40PX;
    background: #215273;
}

.fd h2.title {
    color: #55C595;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

.fd h2.title-2 {
    color: #55C595;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

.draw-live-btn {
    border-radius: 10px;
    background: var(--Button-Color, #55C595);
    color: var(--Base-Color, #FDFDFD);
    /* Title 3 Bold */
    font-family: Poppins;
    font-size: 12px;
    padding: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.fd h2.title span,
.fd h2.title-2 span {
    color: #FDFDFD;
}

.fd p.desc {
    color: var(--Base-Color, #FDFDFD);
    text-align: center;
    /* H5 */
    font-family: Poppins;
    font-size: 14px;
    max-width: 600px;
    font-style: normal;
    margin: 0px auto;
    font-weight: 400;
    line-height: 140%;
}

.fd .custom {
    display: flex;
    /* width: 100px; */
    padding: 20px 12px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 12px; */
    border-radius: 10px;
    background: var(--Base-Color, #FDFDFD);
}

.fd .custom img {
    width: 70px;
    height: 70px;
}

.fd .custom p {
    color: var(--Heading-Text-color, #161616);
    text-align: center;
    /* H5 Bold */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-top: 8px;
    line-height: 140%;
}

.raffle-card {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 9px 6px;
    height: 150px;
}

.raffle-card .img {
    height: 140px;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.raffle-card .img img {
    width: 100%;
    height: 100%;
    /* object-fit: contain;
    aspect-ratio: 1;
    object-position: center */
}

.raffle-card .d {
    width: 50%;
    display: flex;
    margin-left: 6px;
    flex-direction: column;
    justify-content: space-between;
}

.raffle-card .d .head {
    color: var(--Body-text-color, #303030);
    /* H4 Bold */
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.raffle-card .d h6 {
    color: var(--Body-text-color, #303030);
    /* text-align: center; */
    /* H5 */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

.raffle-card .d div.span.time {
    color: var(--Body-text-color, #303030);
    /* H5 Bold */
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.raffle-card .last {
    align-items: end;
}

.raffle-card .last span {
    /* text-align: right; */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #215273;
    display: flex;
    justify-content: center;
    align-items: center
}

.raffle-card .last span i {
    font-size: 18px;
    color: rgba(85, 197, 149, 1);
    /* margin: 0 auto; */
}

.raffle-card .last .btm-div h5 {
    color: var(--Body-text-color, #303030);
    /* H5 Bold */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: right;

    line-height: 100%;
}

.raffle-card .last .btm-div h6 {
    color: var(--Body-text-color, #303030);
    /* H5 Bold */
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.raffle-card .last {
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
}

.about-past h6.small {
    color: var(--Button-Color, #55C595);
    /* H5 Bold */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 140%;
}

.about-past h5.title-2 {
    color: #161616;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

.about-past h5.title-2 span {
    color: #55C595;
}

.about-past-card {
    position: relative;
    border-radius: 20px;
    padding: 10px;
    max-width: 350px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(33, 82, 115, 0.25);
}

.about-past-card.sec {
    background: #215273;

}

.about-past-card .decor {
    height: 40px;
    width: 40px;
    background: #215273;
    position: absolute;
    top: -13%;
    left: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
}

.about-past-card.sec .decor {
    background: #55C595;

}

.about-past-card .first h3 {
    color: var(--Body-text-color, #303030);
    /* H5 */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 140%;
}

.about-past-card .bott .img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-past-card .bott .text h3 {
    color: var(--Body-text-color, #303030);
    /* Title 3 Bold */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about-past-card .bott .text h6 {
    color: var(--Body-text-color, #303030);
    /* Title 3 Bold */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
}

button.btn-icon {
    display: flex;

    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Button-Color, #55C595);
    border: none;
    color: #FFF;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

button.btn-icon.white {
    display: flex;

    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Button-Color, #FDFDFD);
    border: none;
    color: #215273;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 10px;
    border: 1px solid var(--Button-Color, #55C595);
    /* margin-left: 20px; */

}

.ghj {
    display: flex;
    gap: 12px;
}

.home-la {
    padding: 30px 20px;
}

.home-la .h {
    max-width: 600px;
    margin: 0px auto;
}

.home-la h4.big-text {
    color: var(--Heading-Text-color, #161616);
    font-family: 'Prompt', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 96.5%;
}

.home-la h6.desc-text {
    color: var(--Body-text-color, #303030);
    text-align: center;
    /* H5 */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.get-started-card {
    max-width: 350px;
    height: 200px;
    padding: 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(33, 82, 115, 0.25);
}

.get-started-card .step {
    background: rgba(33, 82, 115, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;

    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 12px 0px;
}

.get-started-card.middle .step {
    background: #55C595
}

.get-started-card.middle .head {
    color: #55C595
}

.get-started-card .head {
    color: var(--Primary-Color, #215273);
    /* H2 Bold */
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.get-started-card .desc {
    color: #000;

    /* H5 */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.get-started-card .desc span {
    color: #215273;
    font-weight: 300;
    cursor: pointer;
}
@media screen and (max-width:990px) {
    .top-bg .top-section {
        width: 70%;
        padding: 12px 30px;
    }
}

@media screen and (max-width:660px) {
    .top-bg .top-section {
        width: 95%;
        padding: 12px 20px;
    }

    .top-section h4.big {
        font-size: 2.5rem;
    }

    .top-section p.text {
        font-size: 0.7rem;
    }

    .top-section p.smallest-text {
        font-size: 0.7rem;

    }
}
